# **Importando biblioteca pandas e lendo link da internet**

In [15]:
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados= pd.read_csv(uri)
dados.head(10)

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0
5     1             0        1       1
6     1             1        0       0
7     1             0        1       1
8     1             1        0       0
9     1             0        1       1

**Renomeando as colunas**

In [22]:
mapa ={
    "home": "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou",
}
dados = dados.rename(columns = mapa)

**Selecionado colunas desejadas e colocando na variavel x**

**Variavel y se comprou**

In [24]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]
y.head(10)

0    0
1    0
2    0
3    0
4    0
5    1
6    0
7    1
8    0
9    1
Name: comprou, dtype: int64

**Quantos elementos tem nos dados**

In [25]:
dados.shape

(99, 4)

# **Treinar os 75 elementos**

In [26]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elemntos e testaremos com %d elementos" % (len(treino_x),len(teste_x)))

Treinaremos com 75 elemntos e testaremos com 24 elementos

**Importando do modulo sklearn.svm import Linearsvc**

**Importando do modulo sklearn.metrics import accuracy_score medir Taxa de acerto**

In [35]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia  foi %.2f%%" % acuracia)

A acurácia  foi 95.83%

#**Usando a Biblioteca para separar o treino e teste**

In [53]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score


SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,random_state=SEED, test_size = 0.25, stratify = y)
print(treino_x.shape)
print(teste_x.shape)



print("Treinaremos com %d elemntos e testaremos com %d elementos" % (len(treino_x),len(teste_x)))


modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia  foi %.2f%%" % acuracia)

(74, 3)
(25, 3)
Treinaremos com 74 elemntos e testaremos com 25 elementos
A acurácia  foi 96.00%

**Quantos 0 e quantos 1 temos**

In [54]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [55]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64

**Abrir arquivo CSV;**

**Imprimir as primeiras linhas com a função head;**

**Renomear as colunas;**

**Utilizar a função shape para ver a quantidade de elementos;**

**Separar dados para treino e teste;**

**Definir a ordem para os números aleatórios;**

**Utilizar a função value_counts.**